<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.and.wifiapp">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/start_icon"
        android:label="My Signal"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".WelcomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Router"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Indices"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".MapsActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Details"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ConfirmActivity">
        </activity>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA1TpGV8Cm2MgSW_LS01mjWWTUpfSr1RhI" />
        <service android:name=".MyService" />
    </application>
</manifest>